<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Python review lab

Week 1 | Day 2 | Lab 1 

---

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Miscellaneous-problems" data-toc-modified-id="Miscellaneous-problems-1">Miscellaneous problems</a></span><ul class="toc-item"><li><span><a href="#1.-What-are-the-types-of-the-following-variables?" data-toc-modified-id="1.-What-are-the-types-of-the-following-variables?-1.1">1. What are the types of the following variables?</a></span></li><li><span><a href="#2.-What-is-the-difference-between-a-&quot;mutable&quot;-and-an-&quot;immutable&quot;-object?" data-toc-modified-id="2.-What-is-the-difference-between-a-&quot;mutable&quot;-and-an-&quot;immutable&quot;-object?-1.2">2. What is the difference between a "mutable" and an "immutable" object?</a></span></li><li><span><a href="#3.-Print-the-student_names-list." data-toc-modified-id="3.-Print-the-student_names-list.-1.3">3. Print the <code>student_names</code> list.</a></span></li><li><span><a href="#4.-Print-the-names-of-the-first-and-last-students-in-the-list." data-toc-modified-id="4.-Print-the-names-of-the-first-and-last-students-in-the-list.-1.4">4. Print the names of the first and last students in the list.</a></span></li><li><span><a href="#5.-Print-the-first-5-names-in-the-student-list." data-toc-modified-id="5.-Print-the-first-5-names-in-the-student-list.-1.5">5. Print the first 5 names in the student list.</a></span></li><li><span><a href="#6.-Combine-the-9th-and-10th-student-names-into-a-single-string,-separated-by-a-space,-and-assign-to-a-variable." data-toc-modified-id="6.-Combine-the-9th-and-10th-student-names-into-a-single-string,-separated-by-a-space,-and-assign-to-a-variable.-1.6">6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.</a></span></li><li><span><a href="#7.-Append-an-animal-to-the-list-of-animals." data-toc-modified-id="7.-Append-an-animal-to-the-list-of-animals.-1.7">7. Append an animal to the list of animals.</a></span></li><li><span><a href="#8.-Print-the-length-of-the-animals-list." data-toc-modified-id="8.-Print-the-length-of-the-animals-list.-1.8">8. Print the length of the animals list.</a></span></li><li><span><a href="#9.-Show-two-different-ways-to-combine-the-animals-list-and-numbers-list." data-toc-modified-id="9.-Show-two-different-ways-to-combine-the-animals-list-and-numbers-list.-1.9">9. Show two different ways to combine the animals list and numbers list.</a></span></li><li><span><a href="#10.-Remove-my-name-from-the-list-and-insert-your-own-in-the-same-place." data-toc-modified-id="10.-Remove-my-name-from-the-list-and-insert-your-own-in-the-same-place.-1.10">10. Remove my name from the list and insert your own in the same place.</a></span></li><li><span><a href="#11.-Find-the-index-of-'a'-in-the--mix--list." data-toc-modified-id="11.-Find-the-index-of-'a'-in-the--mix--list.-1.11">11. Find the index of <code>'a'</code> in the  <code>mix</code>  list.</a></span></li><li><span><a href="#12.-Reverse-the-mix-list." data-toc-modified-id="12.-Reverse-the-mix-list.-1.12">12. Reverse the <code>mix</code> list.</a></span></li><li><span><a href="#13.-Remove-the-last-element-of-mix-and-assign-it-to-a-variable." data-toc-modified-id="13.-Remove-the-last-element-of-mix-and-assign-it-to-a-variable.-1.13">13. Remove the last element of <code>mix</code> and assign it to a variable.</a></span></li><li><span><a href="#14.-Count-the-number-of-times-0-appears-in-the-following-list." data-toc-modified-id="14.-Count-the-number-of-times-0-appears-in-the-following-list.-1.14">14. Count the number of times <code>0</code> appears in the following list.</a></span></li><li><span><a href="#15.-Try-to-convert-elements-in-a-list-to-floats." data-toc-modified-id="15.-Try-to-convert-elements-in-a-list-to-floats.-1.15">15. Try to convert elements in a list to floats.</a></span></li><li><span><a href="#16.-While-loops-and-strings." data-toc-modified-id="16.-While-loops-and-strings.-1.16">16. While loops and strings.</a></span><span>

## Miscellaneous problems

---

### 1. What are the types of the following variables?

In [1]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'MYR':'Malaysian Ringgit', 'SGD':'Singapore Dollar'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

---

### 2. What is the difference between a "mutable" and an "immutable" object? 

Answer in one sentence.

---

### 3. Print the `student_names` list.

In [2]:
student_names = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']

---

### 4. Print the names of the first and last students in the list.

---

### 5. Print the first 5 names in the student list.

---

### 6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.

---

### 7. Append an animal to the list of animals.

In [3]:
animals = ['duck', 'rat', 'boar', 'elephant', 'mammoth', 'gazelle']

---

### 8. Print the length of the animals list.

---

### 9. Show two different ways to combine the animals list and numbers list.

In [4]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

---

### 10. Remove the name 'chris' from the list and insert your own in the same place.

In [2]:
names = ['doug', 'billy', 'chris', 'kian', 'sam']

---

### 11. Find the index of `'a'` in the  `mix`  list.

In [6]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

---

### 12. Reverse the `mix` list.

---

### 13. Remove the last element of `mix` and assign it to a variable.

---

### 14. Count the number of times `0` appears in the following list.

In [7]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

---

### 15. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

> Hint: Use a try-except statement, see [here](http://www.pythonforbeginners.com/error-handling/python-try-and-except) or [here](https://www.programiz.com/python-programming/exception-handling).

In [8]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

---

### 16. While loops and strings.

Iterate over the following sentence and count the number of vowels in the sentence.

In [9]:
sentence = "IF I PRACTICE A LOT I WILL SOON BECOME A VERY GOOD DATA SCIENTIST"

### 17. Functions

Based on your code in question 16 above, write a function that receives a sentence as a parameter and returns the number of vowels in the sentence. Then calculate the number of vowels in the following:

In [ ]:
sentence_2 = "THIS IS ANOTHER SENTENCE WITH A SOME VOWELS"

---