<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Python review lab (solutions)


Week 1 | Day 2 | Lab 1 

---

## Miscellaneous problems

---

### 1. What are the types of the following variables?

In [1]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'MYR':'Malaysian Ringgit', 'SGD':'Singapore Dollar'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [2]:
print(f'a is of {type(a)}')
print(f'b is of {type(b)}')
print(f'c is of {type(c)}')
print(f'd is of {type(d)}')
print(f'e is of {type(e)}')
print(f'f is of {type(f)}')
print(f'g is of {type(g)}')
print(f'h is of {type(h)}')
print(f'i is of {type(i)}')

a is of <class 'int'>
b is of <class 'float'>
c is of <class 'list'>
d is of <class 'dict'>
e is of <class 'tuple'>
f is of <class 'dict'>
g is of <class 'bool'>
h is of <class 'bool'>
i is of <class 'str'>

### 2. What is the difference between a "mutable" and an "immutable" object? 

Answer in one sentence.

#### Answer

Mutable objects can be altered, whereas immutable objects cannot be changed once created.

---

### 3. Print the `student_names` list.

In [3]:
student_names = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']

In [4]:
print(student_names)

['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10']

---

### 4. Print the names of the first and last students in the list.

In [5]:
print(student_names[0])
print(student_names[-1])

s1
s10

---

### 5. Print the first 5 names in the student list.

In [6]:
student_names[0:5]

['s1', 's2', 's3', 's4', 's5']

---

### 6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.

In [7]:
combined = student_names[8] + ' ' + student_names[9]
print(combined)

s9 s10

---

### 7. Append an animal to the list of animals.

In [8]:
animals = ['duck', 'rat', 'boar', 'elephant', 'mammoth', 'gazelle']

In [9]:
animals.append('fox')

---

### 8. Print the length of the animals list.

In [10]:
print(len(animals))

7

---

### 9. Show two different ways to combine the animals list and numbers list.

In [11]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [12]:
print(animals + numbers)

['duck', 'rat', 'boar', 'elephant', 'mammoth', 'gazelle', 'fox', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

---

In [13]:
animals.extend(numbers)
print(animals)

['duck', 'rat', 'boar', 'elephant', 'mammoth', 'gazelle', 'fox', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

### 10. Remove the name 'chris' from the list and insert your own in the same place.

In [14]:
names = ['doug', 'billy', 'chris', 'kian', 'sam']

In [15]:
pos = names.index('chris')         # get position of chris
names.pop(pos)
names.insert(pos, 'jenn')
names

['doug', 'billy', 'jenn', 'kian', 'sam']

---

### 11. Find the index of `'a'` in the  `mix`  list.

In [16]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [17]:
mix.index('a')

5

---

### 12. Reverse the `mix` list.

In [18]:
mix.reverse()

In [19]:
mix

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

---

### 13. Remove the last element of `mix` and assign it to a variable.

In [20]:
var = mix.pop()

---

### 14. Count the number of times `0` appears in the following list.

In [21]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [22]:
binary.count(0)

16

---

### 15. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

> Hint: Use a try-except statement, see [here](http://www.pythonforbeginners.com/error-handling/python-try-and-except) or [here](https://www.programiz.com/python-programming/exception-handling).

In [23]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [24]:
cleaned = []
for item in corrupted:
    try:
        cleaned.append(float(item))
    except:
        pass
print(cleaned)

[23.1, 0.12, -11.1, 1000.0]

---

### 16. While loops and strings.

Iterate over the following sentence and count the number of vowels in the sentence.

In [25]:
sentence = "IF I PRACTICE A LOT I WILL SOON BECOME A VERY GOOD DATA SCIENTIST"

In [26]:
count = 0
for ch in sentence:
    if ch in 'AEIOU':
        count +=1
print(count)

# using while loop
count = 0
i = 0
while i < len(sentence):
    if sentence[i] in 'AEIOU':
        count +=1
    i +=1
print(count)

23
23

### 17. Functions

Based on your code in question 16 above, write a function that receives a sentence as a parameter and returns the number of vowels in the sentence. Then calculate the number of vowels in the following:

In [27]:
sentence_2 = "THIS IS ANOTHER SENTENCE WITH A SOME VOWELS"

In [28]:
def count(sentence):
    "This function counts the vowels in a the argument"
    count = 0
    for ch in sentence:
        if ch in 'AEIOU':
            count +=1
    return count

In [29]:
count(sentence_2)

14

---